---
---
<section id="como-funciona" class="bg-white py-20 sm:py-24">
  <div class="container relative mx-auto px-4">
    <div class="mx-auto max-w-2xl text-center">
      <h2 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">
        Como funciona o desbloqueio de conta?
      </h2>
      <p class="mt-4 text-lg leading-8 text-gray-600">
        Saiba como desbloquear a sua conta em até 24h!
      </p>
    </div>

    <div class="mx-auto mt-12 max-w-4xl">
      <div class="relative h-0 overflow-hidden rounded-lg shadow-xl pt-[56.25%]">
        <iframe 
          src="https://player.vimeo.com/video/443304822?h=undefined&playlist=443304822&autoplay=0&controls=1&loop=0&autopause=0&playsinline=1&muted=0"
          class="absolute top-0 left-0 w-full h-full" 
          frameborder="0" 
          allow="autoplay; fullscreen; picture-in-picture" 
          allowfullscreen>
        </iframe>
      </div>
    </div>

    <div class="mt-12 text-center">
      <a 
        href="#" 
        class="inline-block rounded-full bg-green-600 px-8 py-3 text-base font-semibold text-white shadow-sm hover:cursor-pointer hover:bg-green-700 focus-visible:outline focus-visible:outline-offset-2 focus-visible:outline-green-700 transition-colors"
      >
        Quero desbloquear minha conta agora!
      </a>
    </div>
  </div>
</section>